.todo-container{
    width: 600px;
    margin: 100px auto;
}

.todo-title {
    font-size: 40px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.todo-new{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-data{
    display: flex;
    border-radius: 10px;
    border: 1px solid #ccc;
    flex-direction: column;
    padding: 20px;
    gap: 10px;;
}

.todo-image{
    text-align: center;
    margin-top: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.todo-item{
  display: flex;
  justify-content: space-between;
}